<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rumachcoding.sekolahkuu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_layadepan"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_layadepan"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".pages.LoginActivity"></activity>
        <activity
            android:name=".pages.SplashScreenActivity"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pages.DetailActivity" />
        <activity android:name=".pages.ListActivity"></activity>
        <activity android:name=".pages.FormActivity" />
        <activity android:name=".pages.TestActivity" />
    </application>

</manifest>